node_modules/**/*
.expo/*
npm-debug.*
*.jks
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
web-report/


.DS_Store
.idea/
dump.rdb
public/*
temp/
dist
coverage/
.nyc_output/
package-lock.json
.env
yarn-error.log
.yarn
.history/
data/db/
jest-cache/
